<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <style>
        a { text-decoration: none;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='note.css') }}">
</head>
<body>
    <div id="menu">
        <a class="menu_elements" href="{{ url_for('home') }}">Главная</a> |
        <a class="menu_elements" href="{{ url_for('hello', user_name='аноним') }}">Привет</a> |
        <a class="menu_elements" href="{{ url_for('add_note_form') }}">Добавить заметку</a> |
        <a class="menu_elements" href="{{ url_for('table') }}">Таблица</a>
    </div>
    <hr>
    <div class="content">
        {% block content %}
    
        {% endblock %}
    </div>
</body>
</html>